<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile!</title>


</head>
{% extends 'base.html' %}
{% block body %}




<div id="my_list_list" >
<h1>My Lists:</h1>

{% for list in lists %}

<div> <a class="list-items" href="/list/{{ list.list_id }}">
       <h3 id="linked_list_name"> {{ list.list_name }}  </h3>
       <p></p>
  </a> 
</div>


{% endfor %}
    <form id="new_list_form" action="/new_list" method="POST">
    <h2>Create New list</h2>
        <p>
            New List Name: <input id="new_list_input" type ="text" name = "list_name">
            <input type="submit" value="Submit">
        </p>
    </form>
</div>
{% endblock %}
</body>
</html>